/* ------------------------------------------------------------------ GENERAL ------------------------------------------------------------------ */

html {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1em;
}

:hover {
    transition-duration: 0.5s;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin: 0 auto;
    max-width: 1340px;
}

/* ------------------------------------------------------------------ HEADER ------------------------------------------------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 2% 2%;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    padding: 50px 30px;
    border-top: solid 2px transparent;
    text-align: center;
}

nav ul li:hover a {
    color: #0065fc;
}

nav ul li:hover {
    border-top: solid 2px #0065fc;
    transition-duration: 0s;
}

.inscription a {
    color: #0065fc;
    font-weight: 800;
}

/* ------------------------------------------------------------------ RECHERCHE ------------------------------------------------------------------ */

input::placeholder {
    color: black;
    font-family: "Raleway", sans-serif;
}

.btn-text {
    font-family: "Raleway", sans-serif;
}

.loupe-icon {
    display: none;
}

.section-recherche h3 {
    font-size: 1em;
    font-weight: 300;
}

.search-field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.section-recherche h2,
aside h2 {
    font-weight: 800;
    font-size: 1.3em;
}

.champderecherche {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.map-icon-container {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 30% 0% 0% 30%;
    line-height: 50px;
    text-align: center;
}

.recherche {
    height: 46px;
    width: 234px;
    border: 1px solid #f2f2f2;
    padding-left: 15px;
    font-size: 1em;
    font-weight: 800;
}

.submit {
    height: 50px;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
    font-size: 1em;
    padding: 15px;
    cursor: pointer;
}

.filtres h4 {
    font-size: 1.1em;
    font-weight: 800;
    margin-right: 2%;
}

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    align-items: baseline;
}

.filtres .filter {
    position: relative;
    margin-left: 2%;
}

.filtres .filter a {
    padding: 10px 20px 10px 45px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    font-size: 1em;
    font-weight: 800;
    width: 100%;
    height: 100%;
}

.filter:hover a {
    color: #0065fc;
    border-color: #0065fc;
}

.section-recherche .filter .filter-icon {
    padding: 15px;
    color: #0065fc;
}

.section-recherche .filter:hover .filter-icon {
    color: #f2f2f2;
    background-color: #0065fc;
    border-radius: 50%;
    transition-duration: 0s;
}

.section-recherche .filter:hover a {
    color: #0065fc;
    border-color: #0065fc;
}

.icon {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: -10px;
    background-color: #deebff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 1%;
}

.information h3 {
    margin-left: 1%;
    margin-bottom: 0;
}

.container-info-icon {
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .info-icon {
    color: #0065fc;
}

/* ------------------------------------------------------------------ HEBERGEMENTS ------------------------------------------------------------------ */

.first-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}

#hebergements h2,
#activites h2 {
    font-weight: 800;
    font-size: 1.3em;
    margin: 0 0 20px 0;
}

#hebergements {
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
    max-width: 800px;
}

#hebergements .resultats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hebergement-result {
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.hebergement-result:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.note-hebergements {
    position: absolute;
    height: 15px;
    bottom: 10px;
    display: flex;
}

.image-resultat {
    width: 240px;
    height: 115px;
    border-radius: 20px 20px 0 0;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.hebergement-img-1 {
    background-image: url(../img/hebergements/4_small/image1.jpg);
}

.hebergement-img-2 {
    background-image: url(../img/hebergements/4_small/image2.jpg);
}

.hebergement-img-3 {
    background-image: url(../img/hebergements/4_small/image3.jpg);
}

.hebergement-img-4 {
    background-image: url(../img/hebergements/4_small/image4.jpg);
}

.hebergement-img-5 {
    background-image: url(../img/hebergements/4_small/image5.jpg);
}

.hebergement-img-6 {
    background-image: url(../img/hebergements/4_small/image6.jpg);
}

.afficher-plus {
    font-weight: bold;
}

.text-result p {
    margin: 3px 0;
    font-size: 0.9em;
}

.text-result {
    padding: 5px 15px 15px 15px;
}

.filled {
    color: #0065fc;
}

.empty {
    color: #f2f2f2;
}

/* ------------------------------------------------------------------ ASIDE ------------------------------------------------------------------ */

aside {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 45px 40px 35px 40px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aside-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.aside-result {
    width: 345px;
    height: 145px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.aside-results-wrapper a:last-child {
    margin-bottom: 0;
}

.aside-result:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

aside h2 {
    padding: 0 0 25px 0;
    margin: 0;
}

.note-aside {
    position: absolute;
    height: 15px;
    bottom: 15px;
    display: flex;
}

.text-aside {
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 50%;
}

.text-aside h3 {
    font-weight: 700;
    font-size: 1em;
    margin-top: 10%;
}

.text-aside p {
    font-size: 0.9em;
}

.image-aside {
    width: 130px;
    height: 135px;
    border-radius: 20px 0 0 20px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.aside-img-1 {
    background-image: url(../img/hebergements/4_small/aside1.jpg);
}

.aside-img-2 {
    background-image: url(../img/hebergements/4_small/aside2.jpg);
}

.aside-img-3 {
    background-image: url(../img/hebergements/4_small/aside3.jpg);
}

/* ------------------------------------------------------------------ ACTIVITES ------------------------------------------------------------------ */

#activites {
    margin: 5% auto;
    padding-left: 0;
}

#activites h3 {
    margin: 15px auto auto 20px;
}

.resultats-activites {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.resultats-activites a {
    width: 300px;
}

.resultats-activites > a,
.resultats-activites > div {
    height: 450px;
    margin: 10px;
}

.activites-style {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activites-img-2 {
    height: 235px;
}

.activites-img-3 {
    height: 165px;
}

.activites-img-1,
.activites-img-4 {
    height: 100%;
}

.activites-img-5,
.activites-img-6 {
    height: 195px;
}

.flex-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites-bg {
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    height: calc(100% - 50px);
    overflow: hidden;
}

.activites-img-1-bg {
    background-image: url(../img/activites/4_small/image1.jpg);
}

.activites-img-2-bg {
    background-image: url(../img/activites/4_small/image2.jpg);
    background-position: 0 -100px;
}

.activites-img-3-bg {
    background-image: url(../img/activites/4_small/image3.jpg);
}

.activites-img-4-bg {
    background-image: url(../img/activites/4_small/image4.jpg);
    filter: brightness(1.4);
    background-position: -140px 0;
}

.activites-img-5-bg {
    background-image: url(../img/activites/4_small/image5.jpg);
}

.activites-img-6-bg {
    background-image: url(../img/activites/4_small/image6.jpg);
}

.activites-style:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

/* ------------------------------------------------------------------ FOOTER ------------------------------------------------------------------ */

footer {
    background-color: #f2f2f2;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1340px;
    margin: 0 auto;
}

.footer-content > div {
    margin-bottom: 50px;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

footer ul li {
    margin-bottom: 4%;
}

.nos-hebergements {
    margin: 0 15%;
}

/* ------------------------------------------------------------------ TABLETS ------------------------------------------------------------------ */

@media (max-width: 1439px) {
    /* ------------------------------------------------------------------ TABLETS GENERAL ------------------------------------------------------------------ */

    /* ------------------------------------------------------------------ TABLETS HEADER ------------------------------------------------------------------ */

    header {
        padding: 0 2% 2% 2%;
        align-items: center;
    }

    nav ul li {
        padding-top: 50px;
    }

    /* ------------------------------------------------------------------ TABLETS RECHERCHE ------------------------------------------------------------------ */

    .section-recherche {
        padding-left: 2%;
    }

    .filter:last-child {
        margin-top: 4%;
    }

    .information {
        margin-top: 3%;
    }

    .information h3 {
        margin-left: 10px;
    }

    /* ------------------------------------------------------------------ TABLETS HEBERGEMENTS ------------------------------------------------------------------ */

    .first-bloc {
        padding: 0 2%;
        flex-direction: column;
    }

    #hebergements {
        min-width: fit-content;
        min-width: -moz-fit-content;
    }

    #hebergements .resultats {
        flex-direction: row;
        justify-content: space-around;
    }

    .hebergement-result {
        box-sizing: content-box;
    }

    .image-resultat {
        height: 115px;
        width: calc(100% - 10px);
    }

    .note-hebergements {
        bottom: 8px;
        left: 15px;
    }

    .text-result {
        padding-top: 5px;
    }

    /* ------------------------------------------------------------------ TABLETS ASIDE ------------------------------------------------------------------ */

    aside {
        margin-bottom: 5%;
        min-width: fit-content;
        min-width: -moz-fit-content;
        order: -1;
    }

    .text-aside {
        width: 50%;
        padding: 5px 10px;
    }

    .aside-results-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .aside-result {
        width: 350px;
        height: 175px;
        margin: 10px;
    }

    .image-aside {
        width: 260px;
        height: 165px;
    }

    /* ------------------------------------------------------------------ TABLETS ACTIVITES ------------------------------------------------------------------ */

    #activites {
        padding-left: 2%;
    }

    .resultats-activites a {
        min-width: 200px;
    }

    .resultats-activites > a,
    .resultats-activites > div {
        min-width: 300px;
    }

    /* ------------------------------------------------------------------ TABLETS FOOTER ------------------------------------------------------------------ */

    .footer-content {
        padding: 0 2%;
    }

    .nos-hebergements {
        margin: 0 20%;
    }
}

/* ------------------------------------------------------------------ MOBILE ------------------------------------------------------------------ */

@media (max-width: 767px) {
    /* ------------------------------------------------------------------ MOBILE GENERAL ------------------------------------------------------------------ */

    /* ------------------------------------------------------------------ MOBILE HEADER ------------------------------------------------------------------ */

    header {
        position: relative;
        padding: 0;
        width: 100%;
    }

    .brand {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        left: 6%;
        top: 30px;
    }

    nav ul {
        flex-wrap: wrap;
        width: 100vw;
    }

    nav ul li {
        padding: 45px 0 15px 0;
    }

    nav ul li:nth-child(1),
    nav ul li:nth-child(2) {
        width: 50%;
        border-bottom: solid 2px #f2f2f2;
    }

    .inscription:active,
    nav ul li:nth-child(1):active,
    nav ul li:nth-child(2):active {
        border-bottom: solid 2px #0065fc;
    }

    .inscription:hover,
    nav ul li:nth-child(1):hover,
    nav ul li:nth-child(2):hover {
        border-bottom: solid 2px #0065fc;
        border-top: none;
    }

    .inscription {
        order: -1;
        margin-left: 50%;
        width: 10%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .inscription a {
        color: #0065fc;
    }

    .active {
        border-bottom: solid 2px #0065fc;
        transition-duration: 0s;
        border-top: transparent;
    }

    .activite {
        border-bottom: #f2f2f2 solid 2px;
    }

    .active,
    .activite {
        margin-top: 5%;
        border-top: transparent;
    }

    /* ------------------------------------------------------------------ MOBILE RECHERCHE ------------------------------------------------------------------ */

    .section-recherche {
        padding-left: 4%;
    }

    .section-recherche h2 {
        margin-top: 10%;
        margin-bottom: 5%;
        max-width: 80%;
    }

    .btn-text {
        display: none;
    }

    .loupe-icon {
        display: block;
    }

    .recherche {
        max-width: 65%;
    }

    .form {
        position: relative;
    }

    .submit {
        border-radius: 15px;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        right: 15%;
    }

    .information {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .container-info-icon {
        width: 25px;
        height: 25px;
    }

    .section-recherche .filtres .filter {
        margin: 5% 3% 5% 0;
    }

    /* ------------------------------------------------------------------ MOBILE HEBERGEMENTS ------------------------------------------------------------------ */

    .first-bloc {
        padding: 0;
    }

    #hebergements h2,
    #activites h2,
    .afficher-plus {
        padding-left: 5%;
    }

    #hebergements {
        order: 2;
        background-color: #ffffff;
        border-radius: 0px;
        padding-left: 0;
        width: 100%;
        padding: 0px;
        margin: 40px auto;
    }

    .hebergement-result {
        max-width: 335px;
        min-width: 280px;
    }

    .image-resultat {
        width: calc(100% - 10px);
        height: 115px;
        margin-top: 5px;
    }

    .text-result {
        padding-top: 5px;
    }

    /* ------------------------------------------------------------------ MOBILE ASIDE ------------------------------------------------------------------ */

    aside {
        order: 1;
        border-radius: 0px;
        width: 100%;
        padding: 10% 0;
    }

    .aside-result {
        height: 145px;
        max-width: 290px;
        margin: 0 auto 15px auto;
        position: relative;
    }

    .aside-title {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    .image-aside {
        width: 130px;
        height: 135px;
    }

    /* ------------------------------------------------------------------ MOBILE ACTIVITES ------------------------------------------------------------------ */

    #activites {
        padding-left: 0;
    }

    .resultats-activites {
        height: auto;
        max-width: 340px;
        min-width: 280px;
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .resultats-activites > a,
    .resultats-activites > div {
        margin: 10px auto;
    }

    .resultats-activites a:nth-child(1n + 1) {
        height: 190px;
        margin: 0 auto 25px auto;
    }

    .activites-bg {
        width: 300px;
        height: 75%;
    }

    .activites-style {
        width: 300px;
        height: 190px;
    }

    .activites-img-2-bg {
        background-position: 0 -130px;
    }

    .activites-img-4-bg {
        background-position: 0 -50px;
    }

    /* ------------------------------------------------------------------ MOBILE FOOTER ------------------------------------------------------------------ */

    footer {
        padding: 6%;
        margin-top: 6%;
    }

    .footer-content {
        flex-direction: column;
    }

    footer h3 {
        margin-top: 0;
    }

    .nos-hebergements {
        margin-left: 0;
    }
}
